body{
	background-color: #F2F2F2;
}

#functions{
	width: 50%;
	float: left;
}

#answers{
	width: 50%;
	float: left;
}

.problem{
	width: 100%;
	font-size: 1.2em;
	padding: 20px;
}

.title{
	font-size: 1.5em;
	font-style: bold;
}